/* Outline for debugging */
/* * {
    outline: 1px solid red;
} */

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    position: sticky;
    top: 0;
    padding: 0 25px;
    color: #EDF2F4;
    background-color: #2B2D42;
    border-radius: 0 0 15px 15px;
}

.logo {
    font-size: 2rem;
}

nav button {
    border-color: #2B2D42;
    background-color: #8D99AE;
}

nav button:hover {
    color: #EDF2F4;
    background-color: #EF233C;
}

nav button:active {
    transform: scale(0.95);
    background-color: #D90429;
}

/* Main Content */
main {
    overflow: hidden;
    display: flex;
    height: 90%;
}

/* Login Form */
.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 25px 0;
}

.loginForm input {
    margin: 5px 0 20px 0;
}

.loginForm button:hover {
    background-color: #EF233C;
}

.loginForm button:active {
    transform: scale(0.95);
    background-color: #D90429;
}

/* Toolbar */
.toolbar {
    overflow-y: scroll;
    width: 25%;
    padding: 25px;
    border-right: 1px solid #2B2D42;
}

.toolbar::-webkit-scrollbar {
    display: none;
}

.search input {
    width: 100%;
    margin-bottom: 25px;
}

.toolbar .actions {
    display: flex;
    flex-direction: column;
}

.toolbar .actions button {  
    margin-bottom: 10px;
}

.toolbar .actions button:last-child {
    margin-bottom: 25px;
}

.toolbar .actions button:hover {
    background-color: #EF233C;
}

.toolbar .actions button:active {
    transform: scale(0.95);
    background-color: #D90429;
}

/* Student Form */
.toolbar .studentForm {
    display: flex;
    flex-direction: column;
}

.toolbar .studentForm input,
.toolbar .studentForm select,
.toolbar .studentForm textarea {
    margin: 5px 0 10px 0;
}

.toolbar .studentForm .fullName {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toolbar .studentForm .fullName label {
    width: 100%;
}

.toolbar .studentForm .fullName input {
    width: 48%;
}

.toolbar .studentForm .checkbox {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

/* Students */
.students {
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
    padding: 25px;
}

.student {
    flex: 1 0 30%;
    max-width: 30%;
    margin-bottom: 25px;
}

.student:last-child {
    margin-bottom: 0;
}