/* Outline for debugging */
/* * {
    outline: 1px solid red;
} */

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    position: sticky;
    top: 0;
    padding: 0 25px;
    color: #EDF2F4;
    background-color: #2B2D42;
    border-radius: 0 0 15px 15px;
}

.logo {
    font-size: 2rem;
}

nav button {
    background-color: #8D99AE;
}

nav button:hover {
    color: #EDF2F4;
    background-color: #EF233C;
}

nav button:active {
    transform: scale(0.95);
    background-color: #D90429;
}

/* Main Content */
main {
    overflow: hidden;
    display: flex;
    height: 90%;
}

/* Login Form */
.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 25px 0;
}

.loginForm label {
    margin-bottom: 0.5em;
}

.loginForm input {
    margin-bottom: 20px;
}

.loginForm button {
    color: #EDF2F4;
    background-color: #2B2D42;
}

.loginForm button:hover {
    color: #EDF2F4;
    background-color: #EF233C;
}

.loginForm button:active {
    transform: scale(0.95);
    background-color: #D90429;
}

/* Toolbar */
.toolbar {
    overflow-y: scroll;
    width: 25%;
    padding: 25px;
    border-right: 1px solid #2B2D42;
}

.toolbar::-webkit-scrollbar {
    display: none;
}

.search input {
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 1.5em;
}

/* Students */
.students {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    overflow-y: scroll;
}

.student {
    flex: 1 0 30%;
    max-width: 30%;
    margin-top: 25px;
}