* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.student {
    overflow: hidden;
    font-size: 1em;
    color: #2B2D42;
    background-color: #EDF2F4;
    border: 1px solid #2B2D42;
    border-radius: 15px;
}

.student h2 {
    padding: 0.5em 0.75em;
    font-size: 1.5em;
    color: #EDF2F4;
    background-color: #2B2D42;
}

.student > div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 1em;
}

.student h3 {
    flex-basis: 100%;
    font-size: 1.25em;
}

.student span {
    flex-grow: 1;
}

.lastEdited {
    color: #8D99AE;
}