.student {
    overflow: hidden;
    background-color: #EDF2F4;
    border: 1px solid #2B2D42;
    border-radius: 15px;
}

.student h2 {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #EDF2F4;
    background-color: #2B2D42;
}

.student div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}

.student h3 {
    font-size: 1.25rem;
}

.lastEdited {
    color: #8D99AE;
}

/* Selected Student */
.selected h2 {
    background-color: #EF233C;
}

.selected {
    border-color: #EF233C;
}