.student {
    overflow: hidden;
    font-size: 1em;
    background-color: #EDF2F4;
    border: 1px solid #2B2D42;
    border-radius: 15px;
}

.student h2 {
    padding: 0.5em 0.75em;
    font-size: 1.5em;
    color: #EDF2F4;
    background-color: #2B2D42;
}

.student > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5em 1em;
}

.student h3 {
    font-size: 1.25em;
}

.lastEdited {
    color: #8D99AE;
}

.selected h2 {
    background-color: #EF233C;
}