* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #2B2D42;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #EDF2F4;
    background-color: #2B2D42;
    border: 1px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
}

label {
    padding-left: 1rem;
}

label, input {
    font-size: 1rem;
}

input, select, textarea {
    padding: 0.5rem 1rem;
    border: 1px solid #8D99AE;
    border-radius: 1.5rem;
}